.Header {
    font-family: serif;
    text-align: left;
    border: 10px;
    border-style: solid;
    margin:10px;
    

}

.Specifics {
    font-family: Times;
    font-weight: bold;
    
    
   

}

